@import '../assets/global_variables.scss';

.mainContainer {
  padding: 10px;
  background-color: $bg-primary-variant;
  min-height: 100vh;
}

.metricsContainer,
.industriesContainer,
.companiesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, (minmax(20rem, 1fr)));
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.box:nth-child(odd) {
  background-color: $bg-primary;
}

.box:nth-child(even) {
  background-color: $bg-primary-alternate;
}
