@import '../assets/global_variables.scss';

.mainContainer {
  padding: 10px;
  background-color: $bg-primary-variant;
  min-height: 100vh;
}

.companiesTable {
  width: 100%;
  border-collapse: collapse;
}

.companiesTable,
.companiesTable th,
.companiesTable td {
  border: 1px solid;
}

.textCenter {
  text-align: center;
}
